.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1000;
    
}


.left-section {

    display: flex;
    align-items: center;
    margin-left: 30px;
    font-family: cursive;
    max-width: 30px;
}

.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.upload-icon {
    height: 24px;
   
    
}
.youtube-apps-icon {
    height: 24px;
    
    
}

.notifications-icon {
    height: 24px;
    
    
}

.left-section a {
   
        position: relative;
        display: inline-block;
        background:transparent;
        padding-left: 10px;
        color: #fff;
        font-weight: 500;
        margin-top: 20px;
        
}

.left-section a:hover {
    text-transform: uppercase;
    transition: 0.5s;
}