.slider-box {
    width: 100%;
    height: 735px;
    max-width: 100%;
    
}

.titulo {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

.slider-box ul {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 1px;
    width: max-content;
    height: 100%;
    justify-content: center;
    animation: scroll 20s infinite alternate ease-in-out;
}

.slider-box li {
    width: 100%;
    list-style: none;
   
}

.slider-box img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 5px;
}


@keyframes scroll {
    to {
        transform: translate(-72%);
    }
}